/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
html {
	line-height: 1;
}
body {
  line-height: inherit;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* stylelint-enable */

#content {
  /* 20px base w/ 1.333 ratio (https://www.modularscale.com/?20&px&1.333)
      & 26px line height */
  font-size: 1.25em; /* 20px/16px = 1.25em */
  line-height: 1.3em; /* 26px/20px = 1.3em */
  font-family: "Open Sans", sans-serif;
  padding: 0 1.3em;
  display: block;
}

header {
  font-size: 3.946688em; /* 63.147px/16px = 3.9466875em */
  line-height: 1.029344em; /* 65/63.147px = 1.029344em */
  font-family: "Doppio One", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  padding: 0.411738em; /* 26px/63.147px = 0.411738em */
  display: cell;
  background-color: #cc0000;
  color: #ffffff;
}

h2 {
  font-size: 1.7769em; /* 35.538px/20px = 1.7769em */
  line-height: 1.097417em; /* 39px/35.538px = 1.097417em */
  font-family: "Doppio One", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 0.365806em; /* 13px/35.538px = 0.365806em */
}

p + p, section > p + img {
  padding-top: 1.3em;
}

img {
  width: 100%;
}

li > p {
  font-size: 1.5em; /* 30px/20px = 1.5em */
  line-height: 1.3em; /* 39px/30px = 1.3em */
  font-family: "Doppio One", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.666667em;
}
